@charset "utf-8";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue";
  /*background:url(../images/headerright.svg) 100% 0 no-repeat;*/
  overflow-x: hidden;
  width: 100%;
}
a {
  color: #2cab9d;
}
a:hover,
a:focus {
  text-decoration: none !important;
  color: #178074;
}
.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.navbar-brand {
  width: 210px;
  margin-top: -10px;
}
.btn-primary-soft {
  border: solid 1px #ec4a4a;
  color: #ec4a4a;
}
.greybg {
  background: #f1f2f2;
}
.h1,
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.h1 .caseid,
h1 .caseid {
  color: #9dafbc;
}
.lead {
  font-size: 2.1rem;
  font-weight: 400;
}
.btn {
  padding: 8px;
  height: 44px;
}
.btn-primary {
  background: #ec4a4a;
}
.darkbg {
  background: #1d2b31;
}
.bubble {
  height: auto;
  min-height: 200px;
  width: 100%;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: 1px dashed #000;
  border-radius: 30px;
}
.bubble:before {
  content: "";
  position: absolute;
  top: 98%;
  left: 80px;
  height: 40px;
  width: 40px;
  background: #fff;
  box-sizing: border-box;
  transform: rotate(45deg) translate(-50%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}
.text-blue {
  color: #ec4a4a;
}
p {
  font-size: calc(1.33125rem);
  color: #2f1f3e;
}
footer a {
  margin-right: 4rem;
  color: #000;
}
footer a:hover {
  text-decoration: none;
  color: #ec4a4a;
}
/*navbar*/
.header .navbar {
  padding: 0px;
  height: 60px;
}
.collapse:not(.show) {
  display: none;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.header .navbar-nav-item:first-child .nav-link {
  padding-left: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .navbar-brand {
    /* padding-top: 1.5rem;
        padding-bottom: 1.5rem;*/
  }
}
main {
  margin-left: 80px;
  -webkit-transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
}
main.active {
  margin-left: 0px;
  -webkit-transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
}
/* Left Bar*/
#leftBar {
  position: fixed;
  height: 100%;
  width: 80px;
  background: #1d2b31;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  top: 0;
  margin-left: 0;
  -webkit-transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  z-index: 9999;
}
#leftBar.active {
  margin-left: -260px;
  -webkit-transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
  display: block !important;
}
#leftBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px 0;
  padding: 0;
}
#leftBar ul li {
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #3f4b50;
}
#leftBar ul lihover {
  background: rgba(255, 255, 255, 0.2);
}
#leftBar ul li.selected a {
  color: #ffc710;
}
#leftBar ul li.selected a svg path {
  fill: #ffc710;
}
#leftBar ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
#leftBar ul li a .icon {
  display: block;
  margin-bottom: 10px;
}
/*Top Nav*/
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item:hover .indicator {
  top: -8px;
}
.nav-item .indicator {
  background: #ec4a4a;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  height: 18px;
  width: 18px;
  padding: 1px;
  position: absolute;
  top: -4;
  right: -8px;
  text-align: center;
  -webkit-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
  font-size: .675rem;
  color: #fff;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .2rem;
}
.dropdown-menu .user-header {
  background: #c7ece8;
}
.dropdown-menu ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu ul p {
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: -0.125rem;
}
.dropdown-menu ul p small {
  display: block;
}
.dropdown-menu ul li a {
  color: #2f1f3e;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-nav .dropdown-menu {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .2rem;
}
.dropdown-menu.show {
  display: block;
}
.dropdown .dropdown-menu.show {
  -webkit-animation-name: dropdownAnimation;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.nav-flag,
.nav-icon {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  -webkit-transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  line-height: 1.4;
}
.nav-flag img,
.nav-icon img {
  width: 24px;
  height: 24px;
}
@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-toggle:after {
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.dropdown-toggle:after {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-group-sm > .btn-icon.btn,
.btn-icon.btn-sm {
  font-size: .8125rem;
  width: 2.6875rem;
  height: 2.6875rem;
}
.sidebar-toggler:focus,
.sidebar-toggler:hover {
  text-decoration: none;
}
.sidebar-toggler .sidebar-toggler-default {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.sidebar-toggler.toggled .sidebar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.sidebar-toggler.toggled .sidebar-toggler-default svg path {
  fill: #c7ece8;
}
.sidebar-toggler {
  z-index: 199999;
  margin-left: -15px;
  margin-right: 40px;
}
.sidebar-toggler .sidebar-toggler-toggled {
  display: none;
}
.rounded-circle {
  border-radius: 50% !important;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
}
.nav-link-toggle {
  position: relative;
}
.nav-link {
  color: #677788;
  font-size: 1.2rem;
  display: block;
  padding: .5rem 1rem;
}
footer .d-flex {
  flex-wrap: wrap;
}
.copyright {
  /*flex: 0 0 100%;*/
  font-size: 12px;
  color: greybg;
}
.order-md-1 {
  -webkit-box-ordinal-group: 2;
  order: 1;
}
.order-md-2 {
  -webkit-box-ordinal-group: 3;
  order: 2;
}
@media (max-width: 991.98px) {
  .lead {
    font-size: 1.25rem;
  }
  .bubble h5 {
    margin-top: 25px;
  }
}
@media (max-width: 1200px) {
  .h2,
  h2 {
    font-size: calc(1.33125rem);
  }
}
@media (min-width: 768px) {
  .copyright {
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .header .navbar-body,
  .header .navbar-nav {
    margin-left: auto;
  }
}
.shadow-sm {
  box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.25) !important;
}
/*Content*/
.card {
  margin-bottom: 2rem;
  box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.15);
}
.flex-fill {
  -webkit-box-flex: 1 !important;
  flex: 1 1 auto !important;
}
.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
}
i:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f128';
  font-style: normal;
  padding: .15em;
  font-size: 1.25em;
  display: block;
  width: 1.5em;
  height: 100%;
  text-align: center;
}
.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: .5rem;
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .4rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 12px;
  box-shadow: 0 0 0.375rem 0 rgba(53, 64, 82, 0.15);
  line-height: 16px;
}
.badge.status {
  background: #1d2b31;
  color: #ffffff;
}
.badge.warning {
  color: #ff0000;
}
.badge.warning i {
  position: relative;
}
.badge.warning i:after {
  content: "\f071";
  color: #ff0000;
}
.badge.warning .circle {
  margin-right: 10px;
  background: red;
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.casetitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*Steps*/
.steps {
  margin: 0px;
  padding: 0;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
}
.steps li {
  display: flex;
  flex: 1 1 6%;
  margin-left: 0;
  list-style-type: none;
  padding: 5px 5px 5px 30px;
  /* padding around text, last should include arrow width */
  text-align: center;
  height: 48px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.steps li:nth-child(1) {
  flex: 1 0 12%;
}
.steps li:nth-child(1) a {
  padding-left: 0;
}
.steps li:nth-child(2) {
  flex: 1 0 16%;
}
.steps li::after {
  content: "";
  z-index: 10;
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  right: -16px;
  box-sizing: border-box;
  border: 17px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 50% 50%;
  transform: rotate(-135deg);
  border-radius: 0px 0px 0 5px;
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.steps a {
  color: #2f1f3e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  padding-left: 12px;
}
/* Current */
.steps li.current {
  background-color: #ffffff;
}
/* Following */
/* Hover for completed and current */
.steps li:hover {
  background-color: #c7ece8 !important;
  transition: all 0.3s;
}
.steps li:hover:after {
  border-color: transparent transparent #c7ece8 #c7ece8 !important;
  transition: all 0.3s;
}
.steps li.completed {
  background: #f1f2f2;
}
.steps li.completed a::before {
  position: relative;
  display: inline-block;
  content: "L";
  font-size: 20px;
  top: 0px;
  left: 2px;
  margin-right: 5px;
  font-family: arial;
  -ms-transform: scaleX(-1) rotate(-35deg);
  /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg);
  /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
  color: #ec4a4a;
}
.steps li.completed::after {
  border-color: transparent transparent #f1f2f2 #f1f2f2;
}
.steps li.current::before {
  position: absolute;
  content: url("../images/currentstep.svg");
  width: 37px;
  height: 37px;
  bottom: -26px;
}
.steps li.stagecolor_5 {
  background-color: #ec4a4a;
}
.steps li.stagecolor_5::after {
  border-color: transparent transparent #ec4a4a #ec4a4a;
}
.steps li.stagecolor_5:hover {
  background-color: #a23535 !important;
  transition: all 0.3s;
}
.steps li.stagecolor_5:hover:after {
  border-color: transparent transparent #a23535 #a23535 !important;
  transition: all 0.3s;
}
.steps li.stagecolor_5 a {
  color: #ffffff !important;
}
/*Hourglass*/
@keyframes top-clip {
  50% {
    transform: translateY(21px);
  }
  100% {
    transform: translateY(21px);
  }
}
@keyframes bottom-sand-path {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bottom-sand-g {
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}
@keyframes hourglass-rotation {
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#top-sand #top-clip-path rect {
  animation-name: top-clip;
}
#bottom-sand path {
  transform: translateY(21px);
  animation-name: bottom-sand-path;
}
#bottom-sand g {
  animation-name: bottom-sand-g;
}
.hourglass svg {
  animation-name: hourglass-rotation;
}
.hourglass {
  display: inline-flex;
}
.casedetails {
  align-self: flex-end;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ec4a4a;
  background-color: #f1f2f2;
}
table {
  font-size: 14px;
  font-weight: 400;
}
table td.question {
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 300;
}
table td {
  border: solid 0px transparent !important;
}
table tr:nth-child(2n+1) {
  background: #f8f9f9;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9f9;
}
table thead tr {
  background: transparent !important;
}
table thead tr th {
  border-top: 0px solid #fff !important;
  text-transform: uppercase;
  border: solid 0px transparent !important;
}
.substeps a {
  font-size: 14px;
  font-family: Roboto;
}
.substeps a.pastactivity {
  color: #2f1f3e;
  font-weight: bold;
}
.substeps a.completed::before {
  position: relative;
  display: inline-block;
  content: "L";
  font-size: 20px;
  top: 0px;
  left: 2px;
  margin-right: 5px;
  font-family: arial;
  -ms-transform: scaleX(-1) rotate(-35deg);
  /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg);
  /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
  color: #ec4a4a;
}
.substeps a:hover {
  color: #a23535;
}
.substeps a:focus {
  color: #a23535;
}
.nav-pills .indicator {
  background: #ec4a4a;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  height: 18px;
  width: 18px;
  padding: 1px;
  position: absolute;
  top: 10px;
  right: 14px;
  text-align: center;
  -webkit-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
  font-size: .675rem;
  color: #fff;
}
.nav-link {
  position: relative;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 1rem;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 1rem 1rem 0;
}
.content .btn-primary {
  display: flex;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 80px;
  background: #ec4a4a;
  padding: 0.7rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 20;
}
.content .btn-primary:hover {
  background: #a23535;
}
.content .btn-primary:focus {
  background: #a23535;
}
.content h3 {
  margin-top: -57px;
  margin-bottom: 2rem;
}
.end-details {
  padding: 0.6rem;
  background: #f8f9f9;
  font-size: 13px;
  text-align: center;
}
.d-flex {
  flex-wrap: wrap;
}
.d-flex h3 {
  flex: 1 0 100%;
}
.casedetails tr:nth-child(2n+1) {
  background: transparent;
}
.casedetails td {
  font-weight: 700;
}
.casedetails small {
  display: block;
  margin-top: 10px;
}
