@import 'variables.less';
@charset "utf-8";
body {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue";
    /*background:url(../images/headerright.svg) 100% 0 no-repeat;*/
    overflow-x: hidden;
    width: 100%;
}

h2{

    font-size:24px
}
a{
    color:@linkcolor;
}
a:hover, a:focus{
    text-decoration:none !important;
    color:@hoverlink;
}
.header {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position:fixed;
    z-index:99998;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
}
.navbar-brand {
  margin-left:48px;
    width: 210px;
    margin-top: -10px;
}
.btn-primary-soft {
    border: solid 1px @maincolor;
    color: @maincolor
}

.greybg{

    background:@greybg;
}


.h1, h1 {
    font-size: 1.5rem;
    font-weight:600;
  

    .caseid{
        color:@thirdiarycolor;
    }

}
.lead {
    font-size: 2.1rem;
    font-weight: 400;
}
.btn {
    padding: 8px;
    height:44px;
}

.btn-primary{
    background:@maincolor;
}
.darkbg{

    background:@darkbg;
}

.bubble {
    height: auto;
    min-height:200px;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius: 30px;
}

.bubble:before {
    content: "";
    position: absolute;
    top: 98%;
    left: 80px;
    height: 40px;
    width: 40px;
    background: #fff;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-50%);
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit;
}


.text-blue{
    color:@maincolor;
}


p {
    font-size: calc(1.25625rem + .075vw);
    color: @bodytext;
}

footer a{
    margin-right:4rem;
    color:#000;

    &:hover{
        text-decoration:none;
        color:@maincolor;
    }

   
}


/*navbar*/
.header .navbar{padding:0px; height:60px;}
.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.header .navbar-nav-item:first-child .nav-link {
    padding-left: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .navbar-brand {
        /* padding-top: 1.5rem;
        padding-bottom: 1.5rem;*/
    }
}

main {position:relative;
    margin-left: 80px;
    top:70px;
    z-index:80;
    -webkit-transition: margin-left .35s ease-in-out,left .35s ease-in-out;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out;
}

main.active {
    margin-left: 0px;
    -webkit-transition: margin-left .35s ease-in-out,left .35s ease-in-out;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out;
}
/* Left Bar*/

#leftBar {
    position: fixed;
    height: 100%;
    width: 80px;
    background: @darkbg;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    top: 0;
    margin-left: 0;
    -webkit-transition: margin-left .35s ease-in-out,left .35s ease-in-out;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out;
    z-index: 9999;


    &.active {
        margin-left: -260px;
        -webkit-transition: margin-left .35s ease-in-out,left .35s ease-in-out;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out;
        display: block !important;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 70px 0;
        padding: 0;

        li {
            padding: 0px;
            margin: 0px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px @darkbordercolor;

            &hover {
                background: rgba(255,255,255,0.2);
            }

            &.selected {

                a {
                    color: @secondarycolor;


                    svg path {
                        fill: @secondarycolor;
                    }
                }
            }

            a {
                display: block;
                color: @menucolor;
                text-align: center;
                font-size: 12px;
                text-transform: uppercase;




                .icon {
                    display: block;
                    fill: #ffffff;
                    margin-bottom: 10px;
                    #newuser{
                        height:22px;
                    }
                    svg {
                        height: 26px;
                    }
                }
            }
        }
    }
}



/*Top Nav*/


.nav-item{display:flex;
    justify-content:center;
    align-items:center;
}
.nav-item:hover .indicator {
    top: -8px;
}

.nav-item .indicator {
    background: @maincolor;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: -4;
    right: -8px;
    text-align: center;
    -webkit-transition: top .1s ease-out;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .875rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .2rem;

    .user-header {
        background: @highlightcolor;
    }

    ul {
        padding: 0;
        margin: 0;

        p {
            text-align: center;
            font-size: 14px;
            display: block;
            margin-top: -0.125rem;

            small {
                display: block;
            }
        }

        li a {
            color: @bodytext;
        }
    }
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav .dropdown-menu {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .875rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .2rem;
}
.dropdown-menu.show {
    display: block;
}

.dropdown .dropdown-menu.show {
    -webkit-animation-name: dropdownAnimation;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.nav-flag, .nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    -webkit-transition: background .1s ease-in-out,color .1s ease-in-out;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    line-height: 1.4;


   img {
        width: 24px;
        height: 24px;
    }
}



@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}


.dropdown-toggle:after {
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}



.dropdown-toggle:after {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-group-sm > .btn-icon.btn, .btn-icon.btn-sm {
    font-size: .8125rem;
    width: 2.6875rem;
    height: 2.6875rem;
}
.btn-small {
    height: 36px;
    font-size: 13px;
    padding: 0.45rem 0.66rem;
}
.sidebar-toggler:focus, .sidebar-toggler:hover {
    text-decoration: none;
}
.sidebar-toggler .sidebar-toggler-default {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.sidebar-toggler.toggled .sidebar-toggler-toggled {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.sidebar-toggler.toggled .sidebar-toggler-default svg path {
   fill:@highlightcolor;
}
.sidebar-toggler {z-index:199999;
    position:fixed;
    left:35px;
    margin-right:40px;
}

.sidebar-toggler .sidebar-toggler-toggled {
    display: none;
}

.rounded-circle {
    border-radius: 50% !important;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size:14px;
}

.nav-link-toggle {
    position: relative;
}

.nav-link {
    color: #677788;
    font-size: 1.2rem;

    display: block;
    padding: .5rem 1rem;
}
footer {

    .d-flex {
        flex-wrap: wrap;
    }
}

.copyright {
   /*flex: 0 0 100%;*/
   font-size:12px;
   color:@darkbg;
   margin-bottom:10px;
}


.order-md-1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
}

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }

@media (max-width: 991.98px) {

    
    .lead {
    font-size:1.25rem;


    }

    .bubble h5{
        margin-top:25px;
    }
    
}

@media (max-width: 1025px){

    
.h2, h2 {
    font-size: calc(1.25625rem + .075vw);
}
}

@media (min-width: 768px) {
    .copyright{
        margin-left:auto;
    }
}

@media (min-width: 992px) { .header .navbar-body, .header .navbar-nav {
    margin-left: auto;
}
                            }


.shadow-sm {
    box-shadow: 0 .05rem .05rem rgba(0,0,0,.25) !important;
}



/*Content*/

.card {
    margin-bottom: 1rem;
    box-shadow: 0 0 0.875rem 0 rgba(53,64,82,.15);
}

.flex-fill {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}

.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
}


.fa {
    /* width: 32px;*/
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    position: relative;
    font-weight: 900;
    align-self:center;
}


.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .4rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 12px;
    box-shadow: 0 0 0.375rem 0 rgba(53,64,82,.15);
    line-height: 16px;
    min-width: 100px;

    &.status {
        background: @darkbg;
        color: #ffffff;
    }

    &.warning {
        color: @red;

        i {
            position: relative;
        }

        .circle {
            margin-right: 10px;
            background: red;
        }
    }

    &.normal {
        color: @green;

        i {
            position: relative;
        }

        .circle {
            margin-right: 10px;
            background: @green;
        }
    }

    &.low {
        color: @thirdiarycolor;

        i {
            position: relative;
        }

        .circle {
            margin-right: 10px;
            background: @thirdiarycolor;
        }
    }
}

    .circle {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius:50%;
    }


    .casetitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /*Steps*/
    .steps {
        margin: 0px;
        padding: 0;
        width: 97%;
        display: flex;
        flex-wrap: wrap;
    }




    .steps li {
        display: flex;
        flex: 1 1 6%;
        margin-left: 0;
        list-style-type: none;
        padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
        position: relative;
        text-align: center;
        height: 48px;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        &:nth-child(1) {
            flex: 1 0 12%;


            a {
                padding-left: 0;
            }
        }

        &:nth-child(2) {
            flex: 1 0 16%;
        }
    }


    .steps li::after {
        content: "";
        z-index: 10;
        position: absolute;
        width: 0;
        height: 0;
        top: 7px;
        right: -16px;
        box-sizing: border-box;
        border: 17px solid black;
        border-color: transparent transparent #ffffff #ffffff;
        transform-origin: 50% 50%;
        transform: rotate(-135deg);
        border-radius: 0px 0px 0 5px;
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .steps a {
        color: @bodytext;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        text-decoration: none;
        padding-left: 12px;
    }
    /* Current */
    .steps li.current {
        background-color: #ffffff;
    }

    .steps li.current::after {
    }
    /* Following */
    .steps li.current ~ li::after {
    }
    /* Hover for completed and current */
    .steps li:hover {
        background-color: @highlightcolor !important;
        transition: all 0.3s;

        &:after {
            border-color: transparent transparent @highlightcolor @highlightcolor !important;
            transition: all 0.3s;
        }
    }

    .steps li.completed {
        background: @greybg;

        a::before {
            position: relative;
            display: inline-block;
            content: "L";
            font-size: 20px;
            top: 0px;
            left: 2px;
            margin-right: 5px;
            font-family: arial;
            -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
            -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
            transform: scaleX(-1) rotate(-35deg);
            color: @maincolor;
        }

        &::after {
            border-color: transparent transparent @greybg @greybg;
        }
    }

    .steps li.current {


        &::before {
            position: absolute;
            content: url("../images/currentstep.svg");
            width: 37px;
            height: 37px;
            bottom: -26px;
        }
    }



    .steps li.stagecolor_5 {
        background-color: @maincolor;

        &::after {
            border-color: transparent transparent @maincolor @maincolor;
        }

        &:hover {
            background-color: @highlightcolordark !important;
            transition: all 0.3s;

            &:after {
                border-color: transparent transparent @highlightcolordark @highlightcolordark !important;
                transition: all 0.3s;
            }
        }
    }

    .steps li.stagecolor_5 a {
        color: #ffffff !important;
    }
    /*Hourglass*/
    @keyframes top-clip {
        0% {
        }

        50% {
            transform: translateY(21px);
        }

        100% {
            transform: translateY(21px);
        }
    }

    @keyframes bottom-sand-path {
        0% {
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes bottom-sand-g {
        0% {
        }

        85% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-9px);
        }
    }

    @keyframes hourglass-rotation {
        50% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(180deg);
        }
    }


    #top-sand #top-clip-path rect,
    #bottom-sand path,
    #bottom-sand g,
    svg {
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }

    #top-sand #top-clip-path rect {
        animation-name: top-clip;
    }

    #bottom-sand path {
        transform: translateY(21px);
        animation-name: bottom-sand-path;
    }

    #bottom-sand g {
        animation-name: bottom-sand-g;
    }

    .hourglass svg {
        animation-name: hourglass-rotation;
    }

    .hourglass {
        display: inline-flex;
    }


    .casedetails {
        align-self: flex-end;


        .table td {
            padding: .45rem;
        }

        h3 {
            padding: 0 1.2rem;
        }
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: @maincolor;
        background-color: @greybg;
    }

    table {
        font-size: 14px;
        font-weight: 400;

        td.question {
            padding-left: 3px;
            padding-right: 3px;
            font-weight: 300;
        }

        td {
            border: solid 0px transparent !important;
        }

        tr:nth-child(2n+1) {
            background: @oddrowbg;
        }

        &.table-striped tbody tr:nth-of-type(odd) {
            background-color: @oddrowbg;
        }

        thead {

            tr {
                background: transparent !important;

                th {
                    border-top: 0px solid #fff !important;
                    text-transform: uppercase;
                    border: solid 0px transparent !important;
                }
            }
        }
    }

    .substeps {

        a {
            font-size: 14px;
            font-family: Roboto;

            &.pastactivity {
                color: @bodytext;
                font-weight: bold;
            }


            &.completed::before {
                position: relative;
                display: inline-block;
                content: "L";
                font-size: 20px;
                top: 0px;
                left: 2px;
                margin-right: 5px;
                font-family: arial;
                -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
                -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
                transform: scaleX(-1) rotate(-35deg);
                color: @maincolor;
            }

            &:hover {
                color: @highlightcolordark;
            }

            &:focus {
                color: @highlightcolordark;
            }
        }
    }

    .nav-pills .indicator {
        background: @maincolor;
        box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
        border-radius: 50%;
        display: block;
        height: 18px;
        width: 18px;
        padding: 1px;
        position: absolute;
        top: 10px;
        right: 14px;
        text-align: center;
        -webkit-transition: top .1s ease-out;
        transition: top .1s ease-out;
        font-size: .675rem;
        color: #fff;
    }

    .nav-link {
        position: relative;
    }

    h4 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 1rem 1rem;
        margin: 0;
    }

    h3 {
        font-size: 24px;
        font-weight: 600;
        padding: 1rem 1rem 0;
    }

    .card-title {
        font-size: 14px;
        text-transform:uppercase;
        font-weight: 600;
    }



.card-header {
    padding: .95rem;
    margin-bottom: 0;
    background-color: @highlightcolor;
    border-bottom: 0px solid rgba(0,0,0,.125);

    h5 {
        color: @bodytext;
    }
}

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        border-color: @greybg;
        background: @highlightcolordark !important;
        outline: none !important;
    }
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle{


}
.content {

    .btn-soft {
        outline: none !important;
        display: flex;
        border: 0;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        border-radius: 80px;
        background: @soft;
        padding: 0.9rem 2rem;
        box-shadow: 0 0 3px rgba(0,0,0,0.4);
    }

    .btn-primary {
        display: flex;
        position: relative;
        border: 0;
        text-align: center !important;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        border-radius: 80px !important;
        background: @maincolor !important;
        padding: 0.7rem 2rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        z-index: 20;

        &:hover {
            background: @highlightcolordark;
        }

        &:focus {
            background: @highlightcolordark;
        }

        &:active {
            border-color: @greybg;
            background: @highlightcolordark;
        }






        .fa {
            margin-left: 10px;
            margin-right: 10px;
        }

        &[type="submit"] {
            .fa {
            }
        }
    }

    h3 {
        margin-top: -57px;
        margin-bottom: 2rem;
    }
}

    .end-details {
        padding: 0.6rem;
        background: @oddrowbg;
        font-size: 13px;
        text-align: center;
    }

    .d-flex {
        flex-wrap: wrap;

        h3 {
            flex: 1 0 100%;
        }
    }

    .casedetails {
        tr:nth-child(2n+1) {
            background: transparent;
        }

        td {
            font-weight: 700;
        }

        small {
            display: block;
            margin-top: 10px;
        }
    }
    /*Dashboard*/
    #dashboard {

        position:relative;

        &:before{

            background:@highlightcolor;
            content:"";
            position:absolute;
            top:0;
            left:0;
            margin-top:-20px;
            width:100%;
            height:300px;
        }
        h3 {
            margin-top: 0 !important;
            padding-top:0 !important;
        }

        h2 {

            .statistic {
                color: @maincolor;
                text-align: center;
                font-size: 34px;
                display: block;
                text-align: center;
            }

            span {
                margin-top: 15px;
                text-transform: uppercase;
                font-size: 13px;
                text-align: center;
                display: block;
                color: @bodytext;
            }
        }

        .avatar {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background: @maincolor;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            position:absolute;
            right:10px;
            top:-5px;

            i:before {
                font-size: 20px;
            }

            img {
                vertical-align: middle !important;
            }
        }
    }

    .alert-warning {
        color: @bodytext;
        background-color: #FFF8E2;
        font-size: 12px;
        border-color: @secondarycolor;

        i {
            color: @secondarycolor;
        }
    }

    button {
        outline: none !important;
    }

    .redcard {
        background: @maincolor;
        color: #ffffff;

        .avatar {
            background: #ffffff !important;

            i {
                color: @maincolor;
            }
        }

        h1 {
            color: @secondarycolor;
        }

        a {
            color: @secondarycolor;
        }
    }
.todo {

    .nav-pills .nav-link {
        font-weight: 500;
        color: @bodytext;
        padding: 5px 0;
    }

    .badge {
        align-items: flex-start;
        justify-content: flex-start;
        line-height: 20px;

      
    }
}
h3 {
    .question {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        color: @thirdiarycolor;
    }
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .55rem 0.75rem;
    color: inherit;
}

.stat{

    &:hover{background:@secondarycolor; transition:all 0.2s}
    a{
        color:@bodytext;
        font-size:14px;

        text-transform:uppercase;
        font-weight:bold;
        margin-top:20px;
        display:block;
    }
}

#small-stats{
    a{

        font-size:13px;
    }
    .avatar{

        img{
            width:26px;
            height:26px;
        }
    }
}

#btn_view {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 36px;
    font-size: 13px;
    padding: 0.45rem 0.66rem;
}


.mdc-data-table__header-row-checkbox .mdc-checkbox__native-control
:enabled:checked ~ .mdc-checkbox__background, .mdc-data-table__header-row-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-data-table__header-row-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background, .mdc-data-table__row-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-data-table__row-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-data-table__row-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{

    background:@secondarycolor;
    border:solid 1px @secondarycolor;

}

.mdc-data-table__row, .mdc-data-table {
    border: solid 0px @greybg;
}

.dataTables_wrapper {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    color:@thirdiarycolor;

    table{
        color:@bodytext;
    }
}
#mycases_table_length{
    width:50%;
}
.dataTables_filter {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        display: inline-block;
    }
}

div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    text-align: left;
    font-weight: 400;
    display: flex;
    align-items: center;
   

    select {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        flex: 0 0 100px;
    }
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: @oddrowbg;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 0px solid #979797;
   
    background: @highlightcolor;
}

tfoot{
    display:none;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 10px;
   font-size: 13px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: @thirdiarycolor;
}

.dataTables_paginate
{
    margin-left:auto;

}
table.dataTable thead .sorting_desc {
    position: relative;
    background-image: none;

    &:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        right: 0px;
        top: 0px;
       
        background-image: url(../images/ascdesc.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -104px 0;
    }
}

table.dataTable thead .sorting_asc {
    position: relative;
    background-image: none;

    &:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        right: 0px;
        top: 0px;
     
        background-image: url(../images/ascdesc.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -48px 0;
    }
}
table.dataTable thead .sorting {
    position: relative;
    background-image: none;

    &:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        right: 0px;
        top: 0px;
      
        background-image: url(../images/ascdesc.svg);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:18px 0;
    }
}
table.dataTable thead th, table.dataTable thead td{
    padding:10px;
}

table.dataTable {

    .fa{
        margin-right:0;
    }
}


.custom-select{
    font-size:13px;
    color:@bodytext;
}
label{
    font-size:12px;
    color:@thirdiarycolor;
    text-transform:uppercase;
}



.box-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form-group {
        flex: 0 0 48%;
        &.textarea-oneline{

            flex:1 1 100%;
        }
    }
}
h5 {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 5px;
    color: @thirdiarycolor;
    text-transform: uppercase;
    flex: 0 0 100%;
}
.priority{background:@oddrowbg;
          padding:10px;
    display:flex;
    flex-wrap:wrap;
    
}
.badge {
    align-self: stretch;
    align-items: flex-start;
    flex: 1 0 auto;

    .custom-control-label {
        cursor:pointer;
        &:before {
            left: 0.2rem;
           border-width:2px;
        }

        padding-left: 25px;
        text-align: left;
        color: @bodytext;

        small {
            display: block;
        }

      
    }
}


.form-control{

    color:@bodytext;
}


#pri24 + label:before {
    background-color: @white;
    border-color: @red;
}
#pri24:checked ~ .custom-control-label {
    &::before {
        background-color: @red;
    }
}

#pri25 + label:before {
    background-color: @white;
    border-color: @maincolor;
}

#pri25:checked ~ .custom-control-label {
    &::before {
        background-color: @maincolor;
    }
}

#pri26 + label:before {
    background-color: @white;
    border-color: @orange;
}


#pri26 + label:before {
    background-color: @white;
    border-color: @secondarycolor;
}

#pri26:checked ~ .custom-control-label {
    &::before {
        background-color: @secondarycolor;
    }
}
#pri69 + label:before {
    background-color: @white;
    border-color: @blue;
}

#pri69:checked ~ .custom-control-label {
    &::before {
        background-color: @blue;
    }
}
#pri27 + label:before {
    background-color: @white;
    border-color: @green;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px @highlightcolor inset;
}
#pri27:checked ~ .custom-control-label {
    &::before {
        background-color: @green;
    }
}
select:active, select:hover {
    outline-color: red
}

.form-control:focus {
    color: @bodytext;
    background-color: #fff;
    border-color: @bordercolor;
    outline: 0;
    box-shadow: 0 0 0 0.2rem @highlightcolor;
}

.btn-floating {
    position: fixed;
    top: 40px;
    right: 400px;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    display: flex;
    justify-content: center;
    line-height: 61px;
    color: @white;
    text-align: center;
    background: @maincolor;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    z-index: 99999;

    .fa {
        margin: 0;
    }

    &:hover {
        background: darken(@maincolor, 10%);
        color: @white;
    }
}



/*Login styles*/
.loginholder {
    .group {
        position: relative;
        margin-bottom: 45px;

        .fa{

            position:absolute; bottom:10px;
            color:@maincolor;
        }
    }

    input {
        font-size: 14px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid @thirdiarycolor;
        text-indent:25px;
        font-family:"Roboto", sans-serif;
        font-weight:bold;
       color:@bodytext;
    }

    input:focus {
        outline: none;
    }
    /* LABEL ======================================= */
    label {
        color: @thirdiarycolor;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        position: absolute;
        pointer-events: none;
        left: 25px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        left:0;
        font-size: 14px;
        color: @maincolor;
    }
    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 300px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: @maincolor;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }
    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: @highlightcolor;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: @highlightcolor;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: @highlightcolor;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    .ltext {
        text-align: center;
        color: @thirdiarycolor;
        font-size: 13px;
    }
    }
#login {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: url("../images/login.jpg") 0 0 no-repeat;
    background-size: cover;
    margin-left: 0;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(42deg, @maincolor 0%, @highlightcolor 50%, @secondarycolor 100%);
        opacity:0.8;
    }

    .loginholder {
        display: flex;
        flex: 1 1 auto;
        position: absolute;
        height: 100%;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: @white;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        position: absolute;
        align-self: stretch;

        h1 {
            align-self: flex-start;
            padding-top: 20px;
        }

        .ltext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/*Circular*/
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}



.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    height: 100px;


   
}
.single-chart{
  
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    a{
        text-align:center;
        font-size:12px;
    }
}
.circle-bg {
    fill: none;
    stroke: @greybg;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.pri-one .circle {
    stroke: @maincolor;
}

.circular-chart.pri2 .circle {
    stroke: @orange;
}

.circular-chart.pri3 .circle {
    stroke: @secondarycolor;
}
.circular-chart.pri4 .circle {
    stroke: @blue;
}

.circular-chart.pri5 .circle {
    stroke: @green;
}
.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.prioritycards {
    .card {
        width: 18%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:7px;
        margin-right:7px;
    }
}